html {
  scroll-behavior: smooth;
}

.hero-fh1 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hero-fh2 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hero-fh3 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hero-f404 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.fondo-semi-black{
  background-color: hsla(0, 0%, 21%, 0.5);
}

.footer {
  padding: 1.5rem 1rem 1.5rem;
}
